 <!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CustRegServer</servlet-name>
  	<display-name>CustRegServer</display-name>
  	<description></description>
  	<servlet-class>customerregistrationservlet.CustRegServer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustBookServlet</servlet-name>
  	<display-name>CustBookServlet</display-name>
  	<description></description>
  	<servlet-class>customerbookingservlet.CustBookServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverRegServer</servlet-name>
  	<display-name>DriverRegServer</display-name>
  	<description></description>
  	<servlet-class>driverregservlet.DriverRegServer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustRegServlet</servlet-name>
  	<display-name>CustRegServlet</display-name>
  	<description></description>
  	<servlet-class>customerregistrationservlet.CustRegServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>loginservlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverLoginServlet</servlet-name>
  	<display-name>DriverLoginServlet</display-name>
  	<description></description>
  	<servlet-class>driverloginservlet.DriverLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverNewRegServer</servlet-name>
  	<display-name>DriverNewRegServer</display-name>
  	<description></description>
  	<servlet-class>driverregistrationservlet.DriverNewRegServer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>driverservlet</servlet-name>
  	<display-name>driverservlet</display-name>
  	<description></description>
  	<servlet-class>driverservlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverLoginServlet1</servlet-name>
  	<display-name>DriverLoginServlet1</display-name>
  	<description></description>
  	<servlet-class>driverloginservlet.DriverLoginServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerServlet</servlet-name>
  	<display-name>CustomerServlet</display-name>
  	<description></description>
  	<servlet-class>customerservlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>contactserver.ContactServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DriverServer</servlet-name>
  	<display-name>DriverServer</display-name>
  	<description></description>
  	<servlet-class>driverloginservlet.DriverServer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>adminservlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminInsert</servlet-name>
  	<display-name>AdminInsert</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminInsert</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDelete</servlet-name>
  	<display-name>AdminDelete</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDelete1</servlet-name>
  	<display-name>AdminDelete1</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminDelete1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminUpdate</servlet-name>
  	<display-name>AdminUpdate</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RetrieveData</servlet-name>
  	<display-name>RetrieveData</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.RetrieveData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminRetrieve</servlet-name>
  	<display-name>AdminRetrieve</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminRetrieve</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAllData</servlet-name>
  	<display-name>AdminAllData</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminAllData</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminAll</servlet-name>
  	<display-name>AdminAll</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminAll</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminRet</servlet-name>
  	<display-name>AdminRet</display-name>
  	<description></description>
  	<servlet-class>adminsevlet.AdminRet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustRegServer</servlet-name>
  	<url-pattern>/cust-regserver.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustBookServlet</servlet-name>
  	<url-pattern>/cust-book-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverRegServer</servlet-name>
  	<url-pattern>/driver-reg-server.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustRegServlet</servlet-name>
  	<url-pattern>/cust-reg-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverLoginServlet</servlet-name>
  	<url-pattern>/driver-login-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverNewRegServer</servlet-name>
  	<url-pattern>/driver-new-reg-server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>driverservlet</servlet-name>
  	<url-pattern>/driver-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverLoginServlet1</servlet-name>
  	<url-pattern>/driver-login-servlet1.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerServlet</servlet-name>
  	<url-pattern>/customer-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/contact-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DriverServer</servlet-name>
  	<url-pattern>/driver-server.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/admin-servlet.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminInsert</servlet-name>
  	<url-pattern>/admin-insert.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDelete</servlet-name>
  	<url-pattern>/admin-delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDelete1</servlet-name>
  	<url-pattern>/admin-delete.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminUpdate</servlet-name>
  	<url-pattern>/admin-update.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RetrieveData</servlet-name>
  	<url-pattern>/retrieve-data.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminRetrieve</servlet-name>
  	<url-pattern>/admin-retrieve.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAllData</servlet-name>
  	<url-pattern>/admin-all-data</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminAll</servlet-name>
  	<url-pattern>/admin-all.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminRet</servlet-name>
  	<url-pattern>/admin-ret</url-pattern>
  </servlet-mapping>
</web-app>
